@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;900&display=swap');

/* Menu */
.navMenu {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-transform: uppercase;
    color:black;
    text-align: center;
    padding-top: 20px;
  }
/* Menu Hover */
.navMenu :hover
{
    color:red;
}

/* Home cards */
.home-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 100px;
    text-align: center;
  }
  
  .home-col img {
    width: 80%;

  }

  .home-col p {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
  
  .home-col h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
  }
  
h3
{
  font-family: 'Inconsolata', monospace;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

.centerul
{
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  font-weight: 300;
}

.port-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 100px;
  text-align: center;
}

.port-col img {
  width: 100%;

}
/* contact form */
input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


.cont-col
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 100px;
  text-align: center;
}

.cont-col img {
  width: 70%;

}
.aboutm
{
  padding-top: 60px;
}